<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form id="add-person-form"  method="post">
        <h1>Adding a person.</h1>

        <label for="person-name"></label>
        <input id="person-name" class="required_input" type="text" name="person-name" placeholder="Person name" required />

        <br>

        <label for="age"></label>
        <input id="age" class="required_input" type="number" name="age" placeholder="Age" required />

        <br>
        <br>
        <br>
    ​
        <input id="submit-btn" type="submit" value="Submit">

        <br>

        <a href="/person">Return to person menu</a>
    </form>
</body>
</html>